*{
    margin: 0;
    padding: 0;
    background-color: rgb(192,192,192);
    color: black;
    font: Sans Serif;
}

QPushButton {
    margin: 0;
    padding:0;
    border-radius: 15px;
    background-color: rgb(128,128,128);
}

QPushButton:hover {
    background-color: rgb(36,88,114);
}

QLineEdit {
    background-color: rgb(255,255,255);
}

QTabWidget {
  border: 1px solid lightgray;
  background: rgb(245, 245, 245);;
}

QTabBar::tab {
  background: rgb(230, 230, 230);
  border: 1px solid lightgray;
  padding: 6px;
}

QTabBar::tab:selected {
  background: rgb(36, 88, 114);
  margin-bottom: -1px;
}

QMenuBar {
    padding: 5px;
    background-color: rgb(128,128,128);
}

QMenuBar::item:selected, QMenu::item:selected{
    background-color: rgb(36,88,114);
}
